body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  padding: 0 0.3em;
  border: 1px solid red;
}

.picking-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2em;
}

.display-section {
  display: flex;
}

.display {
  width: 110px;
  height: 450px;
  border: 1px solid red;
}

.color-code {
  height: 4em;
  border: 1px solid red;
}
